*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}

.calculator{
    display: flex;
    flex-direction: column;
    width: 400px;
    font-size: 2rem;
    border: 1px solid red;
}


.calculator-display{
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    background-color: white;
    overflow-x: auto;
}


.calculator-keypad{
    display: flex;
    width: 100%;
}

.keypad-numbers{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


.keypad-button{
    width: 25%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid blue;
}

.keypad-button:hover{
    filter: brightness(80%);
    transition: filter .25s;
}
.keypad-button.red{
    background-color: red;
}

.keypad-button.large{
    width: 50%;
}

.keypad-button.dark{
    background-color: lightgray;
}